<div class="container">
        <div class="card mb-3">
            <div class="card-body">
                    <h2 class="text-center">ติดต่อ</h2>

                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">ชื่อ</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ชื่อผู้ส่ง">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">อีเมล</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="อีเมลผู้ส่ง">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">ข้อความ</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="แนะนำร้านชาบู (เขตพญาไท) หรือติดต่อสอบถาม"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">ส่งข้อมูล</button>
                            </form>
                        </div>
                
                        <div class="col-3"></div>
                    </div>
            </div>
        </div>
   
</div>