<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-body">

                    <h2 class="card-title text-center">ร้านดัง</h2>
                    <div *ngFor="let item of items | async">
                        <div *ngIf="item.s_rate==5">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="{{item.s_pic}}" class="card-img img-fluid" style="height: 20;"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-header bg-info text-white">
                                            <p class="h5" style="margin-bottom: 0px;">{{item.s_name}}</p>
                                        </div>
                                        <div class="card-body">
                                            <dl class="row lead">
                                                <dt class="col-sm-2"><i class="fa fa-money"></i> ราคา </dt>
                                                <dd class="col-sm-10">: {{item.s_price}}</dd>
                                                <dt class="col-sm-2"><i class="fa fa-home"></i> ที่อยู่ </dt>
                                                <dd class="col-sm-10">: {{item.s_address}}</dd>
                                                <dt class="col-sm-2"><i class="fa fa-phone-alt"></i> เบอร์โทร </dt>
                                                <dd class="col-sm-10">: {{item.s_tel}}</dd>
                                                <dt class="col-sm-2"><i class="fa fa-share-alt-square"></i> เว็บไซต์
                                                </dt>
                                                <dd class="col-sm-10">: <a href="{{item.s_social}}"
                                                        target="_blank"><i></i>
                                                        คลิก</a></dd>
                                                <dt class="col-sm-2"><i class="fa fa-map"></i> แผ่นที่ </dt>
                                                <dd class="col-sm-10">: <a href="{{item.s_gps}}" target="_blank"><i></i>
                                                        คลิก</a></dd>
                                            </dl>

                                            <blockquote class="blockquote text-right">
                                                <div *ngIf="item.s_rate==1">
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                <div *ngIf="item.s_rate==2">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                <div *ngIf="item.s_rate==3">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                <div *ngIf="item.s_rate==4">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                <div *ngIf="item.s_rate==5">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>

                                                </div>
                                                <p class="mb-0">

                                                    {{item.s_rate}}/5 คะแนน</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>