<div class="container mar">
    <div class="card text-center">
        <div class="card-body">
            <a href="allshabu" class="view marl"><i class="fa fa-cutlery"></i> ร้านทั้งหมด</a>
            <a href="topshabu" class="view marl"><i class="fa fa-star"></i> ร้านดัง</a>
            <a href="mapshabu" class="view marl"><i class="fa fa-map"></i> แผนที่ร้านชาบู</a>
            <a href="rateshabu" class="view marl"><i class="fa fa-money"></i> เรทราคา</a>
            <a href="contact" class="view"><i class="fa fa-phone"></i> ติดต่อ</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
