<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1>Shabu</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline my-2 my-lg-0">
                <a href="#" class="view" data-toggle="modal" data-target="#login"
                data-whatever="">เข้าสู่ระบบ</a>
        </form>
    </div>
</nav>
<!-- 
<div class="text-center">
    <img src="https://images.squarespace-cdn.com/content/v1/5ad99875a2772c93b902cf83/1531390288488-3ZXKM1YCZV5ZS3ZY7TSH/ke17ZwdGBToddI8pDm48kNbPiStZuPpZLZzHXNXfAR0UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc6yFAVYcIg87CJdU5XujF8W_WtMNafYQxa-cGPDsTDIlFi_e0_0Lq1DiKnx_VXcfe/Artboard+55-100.jpg"
    class="d-block w-100 mar" heihtalt="Responsive image">
</div> -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginlabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="loginlabel">เข้าสู่ระบบ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ชื่อผู้ใช้</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">รหัสผ่าน</label>
                        <input type="password" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary">ตกลง</button>
            </div>
        </div>
    </div>
</div>