<nav class="navbar navbar-expand-lg">
  
        <h1>Sha</h1><h1 class="text-warning">bu<sub class="text-dark"> เขตพญาไท</sub></h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="text-center">
    <img src="https://images.squarespace-cdn.com/content/v1/5ad99875a2772c93b902cf83/1531390288488-3ZXKM1YCZV5ZS3ZY7TSH/ke17ZwdGBToddI8pDm48kNbPiStZuPpZLZzHXNXfAR0UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc6yFAVYcIg87CJdU5XujF8W_WtMNafYQxa-cGPDsTDIlFi_e0_0Lq1DiKnx_VXcfe/Artboard+55-100.jpg"
    class="mar" heihtalt="Responsive image">
</div>
