<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-body">

                    <h2 class="card-title text-center">ร้านทั้งหมด</h2>
                    <div *ngFor="let item of items | async">
                        <div class="card mb-3" >
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{item.s_pic}}" class="card-img img-fluid" style="height: 20;" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-header bg-info text-white">
                                        <p class="h5" style="margin-bottom: 0px;">{{item.s_name}}</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="lead">
                                            <li>ราคา : {{item.s_price}}</li>
                                            <li>ที่อยู่  :  {{item.s_address}}</li>
                                        </p>
                                        <a href="{{item.s_gps}}"
                                            target="_blank"><i class="fa fa-map"></i> แผนที่ตั้งร้าน</a>
                                        <p class="text-right">คะแนน {{item.s_rate}}/5</p>

                                        <!-- <div *ngFor="let x of star">
                                            
                                            <span class="fa fa-star checked"></span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>