<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-body">

                    <h2 class="card-title text-center">ร้านทั้งหมด</h2>
                    <div *ngFor="let data of range">
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://img.wongnai.com/p/1920x0/2018/07/15/c7f0c42cd64f4bd798d092f05520e275.jpg"
                                        class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-header bg-info text-white">
                                        <p class="h5" style="margin-bottom: 0px;">ชื่อร้าน</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="lead">
                                            <li>ข้อมูลร้าน</li>
                                        </p>
                                        <a href="#"><i class="fa fa-map"></i> แผนที่ตั้งร้าน</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>